li{
    font-family: "Arial";
    text-align: center;
    list-style-type: none;
}

h1{
    font-family: 'Arial','Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
}
.mail
{
    color:blue;
    font-style: italic;
    font-family: Arial;
    text-align: center;
}

footer{
    text-align: center;
}

h2{
    text-align: center;
}

img{
    height:250px;
    width:250px;
    clip-path: ellipse(50% 50%);
}

.image{
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Arial','Arial Narrow Bold', sans-serif;
}
@font-face 
{
    font-family: 'MaSuperPolice';
    src: url('buttercup.otf');
}
#accroche{
    text-align: center;
    font-family: 'MaSuperPolice', Georgia, 'Times New Roman', Times, serif, Impact, "Arial Black", Arial, Verdana, sans-serif;
}

body{
    background-color: grey;
}

hr{
    width: 500px;
    border:1px solid orange;
}
label,
textarea 
{
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background-color: grey;
}

label {
    display: block;
    margin-bottom: 10px;
}
video{
    background-color: orange;
}
.polling_message {
    color: white;
    float: left;
    margin-right: 2%;
  }
  
  .view_port {
    background-color: black;
    height: 25px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-color: red;
    background-image:         linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    color: white;
    height: 100%;
    width: 20%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
  @-webkit-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
          @keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }